*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
.navigation_1
{
    height: 75px;
    width: 100%;
    padding: 15px;
    background-color: antiquewhite;
    margin-top: 15px;
}
.navigation_2
{
    height: 100%;
    width: 100%;
    padding: 5px;
}
.navigation_2 ul
{
    list-style: none;
    margin-top: 5px;
}
.navigation_2 li
{
    float: left;
    font-size: 20px;
    margin-left: 80px;
}
.navigation_2 li a
{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px;
}
.navigation_2 li a:hover
{
    background-color: #fac486;
}
.box
{   
    margin-top: 15px;
    height: 500px;
    width: 100%;
    padding: 15px;
    display: flex;
    background-color: rgb(237, 194, 115);
}
.left
{
    height: 100%;
    width: 40%;
}
.left img
{
    height: 100%;
    width: 100%;
}
.right
{
    height: 100%;
    width: 60%;
    padding: 15px;
}
.inner_right
{
    height: 100%;
    width: 100%;
    padding: 15px;
}
#off
{
    font-size: 50px;
}
.inner_right_1
{
    margin-top: 15px;
    width: 100%;
    height: 55%;
}
.cart
{
    width: 100%;
    height: 25%;
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(31, 31, 31);
    color: white;
}
.cart:nth-child(even)
{
    background-color: white;
    color: black;
}
.cart_left
{
    width: 45%;
    height: 100%;
    padding: 5px;
    text-align: center;
}
.cart_middle
{
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 5px;
}
.cart_right
{
    width: 15%;
    height: 100%;
    display: flex;
}
.negative
{
    height: 100%;
    width: 33.33%;
    font-size: 25px;
}
.quant
{
    height: 100%;
    width: 33.33%;
    background-color: rgb(239, 125, 125);
    text-align: center;
    padding: 5px;
}
.quant:nth-child(even)
{
    color: black;
}
.addition
{
    height: 100%;
    width: 33.33%;
    font-size: 25px;
}
.more_outer
{
    height: 30%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.more 
{   
    height: 100%;
    width: 30%;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
}
.more a{text-decoration: none;
color: black;
scroll-behavior: smooth;}
.order
{
    height: 100%;
    width: 20%;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #fac486;
    font-family: 'Times New Roman', Times, serif;
}
.menu_outer
{
    height: 1250px;
    width: 100%;
    padding: 15px;
}
.menu_inner_top
{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,250px);
    gap:50px;
    padding: 15px;
}
.cart_1
{   
    padding: 10px;
    background-color: #fac486;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 2s;
}
.cart_1:hover
{
    scale: 1.05;
}
.cart_1_pic
{
    height: 60%;
    overflow: hidden;
}
.cart_1_pic img
{
    border-radius: 20px;
}
.cart_1_text
{   
    margin-top: 8%;
    height: 36%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px 0px 0px 0px;
}